
<h1 class="text-center text-danger">Đơn hàng đã được lưu thành công. Cám ơn bạn đã đặt hàng web chúng tôi.</h1>
@*<a class="nav-link text-dark" asp-controller="Bills" asp-action="Details">
    <i class="bi bi-person-lines-fill"></i> Xem lại chi tiết đơn hàng</a>*@




